/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

html {
  margin: 0.4em .4em 0 1.1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 1.8em;
  margin-bottom: 0.2em;
}


section, div {
  margin-bottom: 2em;
}

h2 {
  float: right;
  text-transform: uppercase;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 0.9em;
  color: #9c9b9b;
}

p, li {
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

li span {
  font-size: 0.8em;
}

p.work-details {
  font-size: 0.65em;
}

p.work-details:last-of-type {
  margin-bottom: 1em;
}

p.title.work-details, p.degree {
  font-size: 0.9em;
  margin-bottom: 0.4em;
}

p.title, p.degree {
  font-weight: 600;
}

.experience ul li {
  margin-bottom: 1em;
}

div.education {
  margin-bottom: 1.4em;
}

@media screen and (min-width: 49em) {
  body {
    max-width: 1200px;
    font-size: 1.2em;
    margin: 1.5em auto;
  }

  h2 {
    margin-right: 20em;
    font-size: 1em;
  }
}

@page {
  size: auto;
  margin: 0;
}

@media print {
  body {
    margin: 5mm 0 0 15mm;
  }

  h2 {
    margin-right: 2em;
  }

  section, div {
    margin-bottom: 1.2em;
  }

  .contact {
    margin-bottom: 2em;
  }

  .experience ul li {
    margin-bottom: 0.3em;
  }

  div.education {
    margin-bottom: 1em;
  }

  .interests p {
    display: block;
  }

/*
  .interests p {
    display: inline;
  }

  .interests p::after {
    content: ","
  }

  .interests p:last-child::after {
    content: ""
  }
*/
}
